api_id= your_tg_api_id
api_hash=your_api_hash_here


bot_token= your_bot_token_here
bot= your_bot_username_here
admin= your_tg_user_id


string_session= your_string_session_here

tavily_key=your_tavily_key_here
tmdb_key=your_tmdb_key_here
gemini_key=your_gemini_key_here
groq_key=your_groq_key_here

not necessary if its not render
render_api=your_render_api_key_here